* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#main-text {
    padding-top: 100px;
}

/* .container {
    display: flex;
    grid-template-columns: 6;
    justify-content: center;
    width: 100vw;
    height: 800px;
}

.container.upper {
    background-image: url("../images/logo-beratung-2400.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: center;
}

.item.upper h1 {
    padding: 200px;
    position: sticky;
}

.container.middle {
    background-color: beige;
}

.item.middle {
    text-align: center;
}

img {
    width: 100vw;
    height: 800px;
    position: left;
}

.item {
    display: block;
    flex-direction: column;
    /* justify-content: center; */

}

*/